@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Review";
}
<div class="container mb-3">
    <table id="tblReview" class="table table-responsive table-bordered table-striped w-100">
        <thead>
            <tr>
                <th>Trans. Id</th>
                <th>Establishment Name</th>
                <th>Name of Owner</th>
                <th>Regitration Date</th>
                <th>Registration Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/Evaluator/review.js"></script>
}