@{
    ViewData["Title"] = "All Transactions";
}
<div class="container mb-3">
    <table id="tblViewAll" class="table table-responsive table-bordered table-striped w-100">
        <thead>
            <tr>
                <th>Trans. Id</th>
                <th>Establishment Name</th>
                <th>Regitration Date</th>
                <th>Registration Status</th>
                <th>Action</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/Evaluator/viewall.js"></script>
}