@{
    ViewData["Title"] = "Manage User";
}

<form id="ajaxAntiForgeryForm" method="post" asp-antiforgery="true" class="d-none"></form>

<div class="container mb-3">
    <div class="row pt-4 pb-3">
        <div class="col-12 text-end">
            <a asp-area="Admin" asp-controller="User" asp-action="Create" class="btn btn-primary"><i class="bi bi-plus-circle"></i> Create New User</a>
        </div>
    </div>
    <table id="tblManageUser" class="table table-responsive table-bordered table-striped w-100">
        <thead>
            <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Province</th>
                <th>Role</th>
                <th></th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/ManageUser.js"></script>
}