@{
    ViewData["Title"] = "PO Head Approved";
}
<div class="container mb-3">
    <table id="tblPoHeadApproved" class="table table-responsive table-bordered table-striped w-100">
        <thead>
            <tr>
                <th>Trans. Id</th>
                <th>Establishment Name</th>
                <th>Regitration Date</th>
                <th>Registration Status</th>
                <th>View</th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts {
    <script src="~/js/PoHead/poheadapproved.js"></script>
}