@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<a class="nav-link dropdown-toggle" asp-area="Identity" asp-page="/Account/Manage/Index" id="userDropdown" role="button"
   data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    @await Component.InvokeAsync("UserFullName")
    <img class="img-profile rounded-circle"
         src="~/img/_Layout/undraw_profile_1.svg">
</a>

<!-- Dropdown - User Information -->
<div class="dropdown-menu dropdown-menu-end shadow animated--grow-in"
     aria-labelledby="userDropdown">
    <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
        <i class="fas fa-cogs fa-sm fa-fw me-2 text-gray-400"></i>
        Settings
    </a>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#logoutModal">
        <i class="fas fa-sign-out-alt fa-sm fa-fw me-2 text-gray-400"></i>
        Logout
    </a>
</div>